body{
    background-color: rgb(133, 237, 255);
}
.box{
    
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aliceblue;
}
.dark{
    background-color: rgb(119, 189, 131);
    color: white;
}
.light{
    background-color: white;
    color: rgb(212, 65, 65);
}